@media (max-width:600px) {
    .sessao2 .row{
        display:block;
        margin: 20px auto;
        width: 100%;
    }

    .logo {
        width:80px;
        border-radius:20px;
    }

    nav ul{
        height:80vh;
    }
    nav li{
        margin: 20px;
    }

    

    .texto{
        display:block;
        font-size:14px;
        width: 100%;
        margin: 10px auto;
        
      
    }

    .galeria{
        display:block;
        margin: 20px auto;
        width: 100%;
    }
    .conteudo{
        width: 100vw;

    }

    .galeria-ellas{
        display: block;
        width: 100%;
    }

    
 
}

@media (max-width: 1000px){
    .galeria{
        display:block
    }

    .galeria-ellas{
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 100%;
    }
}