@media (max-width:600px) {
    .sessao2 .row{
        display:block;
        margin: 20px auto;
        width: 100%;
    }

    .logo {
        width:10rem;
        border-radius:20px;
    }

    nav ul{
        height:60vh;
    }
    nav li{
        margin: 10px;
    }
    

    .conteudo{
        background-color: #8eb4db;
        padding: 20;
        
    }
    
    .conteudos{
        background-color: #dfeef6;
        margin: 0px;
        margin-bottom: 5px;
        border-radius: 20px;
       
    }

    

    .texto{
        display:block;
        font-size:14px;
        width: 100%;
        margin: 10px auto;
        
      
    }

    .galeria{
        display:block;
        margin: 20px auto;
        width: 100%;
    }
    
    .galeria-ellas{
        display: block;
               

    }
    .galeria-ellas p{
        margin: 0px;        
    }

    .redesSociais{
        padding: 10px;
    }

    .servicos div{
       
        font-size: 1.3rem;
    }


    
 
}

@media (max-width: 1000px){
    .galeria{
        display:block
    }

    .galeria-ellas{
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    .navbar-toggler{
        border: 0;
    }

    
}