/*GERAL*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#ebf8ff;
    overflow-x: hidden;
}

/*Logo e Menu*/
.logo-menu{
    margin: 30px;
}

/* HOME */

.menu-geral{
    display: block;
    margin: 0 auto;
}

.logo{
    width: 20rem;

}

.menu{
    text-align:center;
    
}

.navbar-toggler{
    background-color:#ffffff;
    border-radius: 5px;
    border: 3px solid #8eb4db !important;
    
}

.home{
    background-color:#8eb4db;
}
.home a{
    color: white !important;
}



ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#dfeef6;
    border-radius: 10px;
}

ul li {
    font-size:1.1rem;
    border-radius: 10px;
    font-weight: bold;  
}
ul li a{
    color: #8eb4db !important;
}
ul li a:hover {
    font-size:1.1rem;
    background-color:#8eb4db;
    color: white !important;
    border-radius: 10px;

   

}



/*Botão whats Agendar consulta*/


.caixaWhats{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #8eb4db;
}
.caixaWhats a{
    text-decoration: none;
}
.btn{
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    border: 3px solid white;
    color:#8eb4db;
    font-weight: bold;
    font-size: 1.3rem;

}
.btn:hover{
    background-color:#8eb4db;
    color: white;
}

/* SEJA BEM VINDO*/
h1{
    text-align: center;
    color:#8eb4db;
    font-size: 2rem;
    margin-top: 30px;
}

h2{
    text-align: center;
    color:#8eb4db;
    padding-top:10px;
}

/*Serviços*/

.servicos{
   
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.servicos div{
    color: #8eb4db;
    font-weight: bold;
    margin: 20px;
    font-size: 2rem;
}



/*ellas*/
.galeria-ellas{
    display: flex;
    align-items: center;
}

.galeria-ellas img{
    border-radius: 20px;
}


.sessao .row{
    
    display: flex;
    margin: 30px;
    gap: 50px;
    height: 400px;
    align-items: center;
}

.galeria{
    display: flex;
    align-items: center;
}



.redes{
    display: flex;
    align-items: center;
    gap:20px;
    margin: 30px;
}

.texto{
    background-color:#ffffff;
    padding: 20px;
    text-align: center;
    color:#777571ec;
    line-height: 25px;
    margin: 20px;
    border-radius: 20px;
    font-size: 1rem !important;
    
}



.galeria{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap content;
}


.perfil{
    width: 100%;
    width: 300px;
    display: flex;
    margin: auto;
    border-radius: 20px;
   

}

.galeria-ellas p {
    background-color:#ffffff;
    padding: 20px;
    text-align: center;
    color:#777571ec !important;
    line-height: 25px;
    margin: 20px;
    border-radius: 20px;
    font-size: 1rem !important;
}

.galeria-ellas span{
    color:#8eb4db;
    font-weight: bold;
    font-family: fantasy;
    font-size: 2rem;
}


h3{
    text-align: center;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img-footer {
    height: 100px;
    border-radius: 20px;
}

/*Conteudo Geral*/

.conteudo{
    background-color: #8eb4db;
    padding: 10px;
    
}

.conteudos{
    background-color: #dfeef6;
    margin: 20px;
    border-radius: 20px;
    padding:10px;
   
}

.conteudos .redesSociais{
   
    padding-top: 50px;

}

.conteudos .redesSociais img{
    width: 50px;
    margin-right: 10px;
    display: block;
    margin: 20px auto;
}

.conteudos p{
    color: rgb(0, 0, 0);
    margin-left: 30px;
    font-size: 1rem;
}


footer{
    position: static;
    bottom: 0;
    background-color:#8eb4db;
    width: 100%;
    color: #ffffff;
    padding: 5px;
    height: 30px;

}

footer address{
    text-align: center;
    padding: 60px;
    color: black;
}



